* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Bebas_neue.ttf);
}


body {
    background: black;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Bebas;
    letter-spacing: 0.1em;
    margin: 0px;
   
}

ul {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav {
    padding: 0px;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

button {
    border: none;
    text-decoration: none;
    outline: none;
    font-family: inherit;
    background: none;
    text-transform: inherit;
}

h1 {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 0px;
    margin: 0px;
}

div {
    margin: 0px;
    padding: 0px;
}

img {
    margin: 0px;
}

p {
    margin: 0px;
}
