.header {
    position: fixed;
    top: 0;
    z-index: 10;  
    width: 100%;
    
}


.menu ul:first-child{
    display: flex;
    width: 100%;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: black;
    border-bottom: 1px solid white;
    
}

.menu ul {
    display: flex;
    width: 100%;
    font-size: 2em;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: black;
}


.menu li a:hover{
    transition: all 0.3s ease; 
    color: #F39200;
}

.menu__item:hover {
    will-change: transform;
    transform: translateY(-4px);
}

.menu__item {
    border-right: 1px solid white;
    transition: all 0.3s ease; 
}
.menu ul li {
    position: relative;
    padding-right: 20px;
    
}

.menu__menu {
    display: flex;
    flex-direction: column;
}



.menu li ul {
    font-size: 0.5em;
    position: absolute;
    min-width: 100px;
    display: none;
    
}

.menu li ul li {
    padding: 2px; 
    transition: all 0.1s ease;
     
}

.menu li ul li:hover {
    transform: scale(1.02); 
}

.menu li:hover ul {
    display: block;
}

.btn {
    font-size: 30px;
    border-radius: 15px;
    padding: 10px;
    color: #F39200;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.2s ease;
    border: 1px solid #F39200;
}

.btn:hover{
    color: #fff;
    background:#F39200;
    transform: scale(1.02);
    
}

.main-page {
    width: 100%;
    display: grid;
    padding-top: 103px;
}


.footer {
    border-top: 2px solid wheat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
}

.footer img {
    width: 25px;
    margin-top: 10px;
}

.footer img:first-child{
    margin-left: 20px;
}

.footer div {
    margin-top: 5px; 
    margin-left: 20px;
}

.footer a:hover {
    transform: translateY(-2px);
}

.footer a {
    transition: all 0.3s ease;
}

.house__content {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 115px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 120vh;
    margin-bottom: 10px;
    
}

.house__content button{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 55px;
    margin: 3px;
    opacity: 0.6;
    transition: all 0.2s ease;
    cursor: pointer;
    z-index: 1;
    width: 610px;
    height: 330px;
}

.house__content button:hover {
    opacity: 1;
    transform: scale(1.03);
    
}

.Kiev {
    background-image: url(../img/kiev/slider/bg_kiev.png);
    background-position: center;
    background-size: cover;
}

.Dordoi {
    background-image: url(../img/dordoi/dordoi_bg.png);
    background-position: center;
    background-size: cover;
}

.Ala {
    background-image: url(../img/ala/IMG_3707\ 2.png);
    background-position: center;
    background-size: cover;
}

.Cosmo {
    background-image: url(../img/cosmo/IMG_2402\ 1\ \(1\).png);
    background-position: center;
    background-size: cover;
}

.Kiev-content {
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.Kiev__title {
    margin-top: 5px;
    padding-top: 104px;
    font-size: 5em;
    z-index: 10;
}

.Kiev-content p {
    font-size: 2em;
    margin: 15px 0px 0px 0px;
}

.Kiev-content div {
    display: flex;
}

.Kiev-content div div {
    font-size: 20px;
}

.Kiev-content  div img {
    width: 130px;
    margin-left: 18px;
}


.Kiev-content div div {
    margin-left: 30px;
}

.kiev_desc {
    margin-right: 20px;
}

.Kiev__bg {
    position: absolute;
    right: 120px;
    top: 140px;
    width: 600px;
    z-index: 1;
}

.discount__content {
    display: flex;
}

.discount {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 110px;
}

.discount h1{
    font-size: 70px;
}

.discount__content h1 {
    width: 60%;
    font-size: 50px;
    border-bottom: 2px solid #F39200;
}

.discount__content img {
    width: 500px;
    margin: 10px 10px 10px 0px;
    border: 1px solid #fff;
}

.discount__content div {
    margin-left: 30px;
}

.discount__content div p {
    margin-top: 10px;
    font-size: 1.5em;
}

.menu-page {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 145px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 120vh;
    margin-bottom: 10px;
    
    
}

.menu-page button {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;
    font-size: 50px;
    color: #fff;
    opacity: 0.6;
    transition: all 0.6s ease;
    cursor: pointer;
    
    
}

.menu-page button:hover {
    opacity: 1;
    transform: scale(1.07); 
    border: 0.5px solid white;
}

.burger {
    background-image: url(../img/menu/burger/Copy\ of\ бургер\ из\ баранины.png);
    background-position: center;
    background-size: cover;
}

.pizza {
    background-image: url(../img/menu/pizza/пепперони.png);
    background-position: center;
    background-size: cover;
}

.soups {
    background-image: url(../img/menu/супы/Суп\ с\ фрикадельками.png);
    background-position: center;
    background-size: cover;
}

.snack {
    background-image: url(../img/menu/закуски/начос.png);
    background-position: center;
    background-size: cover;
}

.meat {
    background-image: url(../img/menu/meat/Рибай.png);
    background-position: center;
    background-size: cover;
}

.salad {
    background-image: url(../img/menu/salad/Copy\ of\ Цезарь.png);
    background-position: center;
    background-size: cover;
}

.modal {
    will-change: opacity;
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    opacity: 1;
    background-color: rgba(0,0,0,0.9);
    transition: all 0.3s ease;
    animation-name: blur;
    animation-duration: 1s;
    
}

.modal_w {
    background: black;
    width: 70%;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
}

.modal_w button {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 55px;
    margin: 3px;
    opacity: 0.6;
    transition: all 0.2s ease;
    cursor: pointer;
    /* z-index: 1; */
    width: 450px;
    height: 200px;
    transition: all 0.3 ease;
}

.modal_w button:hover {
    transform: scale(1.02);
    opacity: 1;
}

.modal img {
    display: flex;
}

.header-modal {
    flex-wrap: wrap;
    display: flex;
    background: black;
    width: 70%;
    margin: 0 auto;
}

.header-modal h1 {
    margin-left: 140px;
    margin-top: 10px;
    font-size: 35px;
    border-bottom: 3px solid white;
    
}

.header-modal p {
    margin-left: 140px;
    margin-top: 5px;
}

.header-modal h1 p img {
    margin: 0 auto;
}

.about-us__block {
    display: flex;
    flex-wrap: wrap;
}

.about-us__content {
    padding-top: 115px;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr auto; */
    grid-template-columns: 1fr 1fr;
    padding-left: 4%;
    padding-right: 4%;
    grid-row-gap: 40px;
}

.about-us__content h1 {
    font-size: 80px;
}

.about-us__content div p {
    font-size: 2em;
}


.about-us__content img {
    border: 1px solid white;
}

.partner__content {
    padding-top: 115px;
    padding-left: 4%;
    padding-right: 4%;
}

.partner__content h1{
    font-size: 8em;
}

.partner__content h2 {
    font-size: 4em;
}

.partner__content p {
    font-size: 2em;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
}

.form input {
    width: 100%;
    height: 100%;
}

.partner__btn {
    height: auto;
    width: auto;
    background-color: saddlebrown;
    color: white;
    font-size: 40px;
    align-self: flex-end;
    grid-area: 14/2;
    cursor: pointer;
    grid-row-end: auto;
}

@keyframes blur {
    from {opacity:0}
    to {opacity: 1;}
}

.burger_b {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 115px;
    display: flex;
    flex-wrap: wrap;
}

.burger-card {
    text-align: center;
    margin: 4%;
    border: 1px solid white;
    width: 25%;
    border-radius: 10px;
    opacity: 0.8;
    transition: transform 0.3s ease;
}

.burger-card{
    font-size: 1em;
}

.burger__price {
    font-size: 1.5em;
}

.burger-card:hover {
    opacity: 1;
    transform: scale(1.02);
}

.main-page button{
    width: 100%;
    height: 500px;
    color: #fff;
    font-size: 150px;
    cursor: pointer;
    transition: transform 0.3s ease;
    opacity: 0.9;
    will-change: transform;
}


@media (max-width: 790px) {
    .header {
        width: 100%;
        display: none;
    }
    
    .burger_b {
        padding-top: 10px;
    }

    .main-page {
        padding-top: 0;
    }
    
    .menu__burger {
        display: none;
    }

    .menu ul:first-child {
        width: 100%;
    }

    .partner__content {
        width: 100%;
        font-size: 0.4em;
    }

    .about-us__content {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 0.5em;
    }
    .about-us__content img {
        width: 100%;
    }

    .menu__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }


    .menu-page {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        padding-top: 10px;
    }
    
    .menu-page button {
        width: 100%;
    }

    .burger_b {
        display: grid;
        grid-template-columns: 1fr;
    }

    .burger-card {
        width: 100%;
        margin: 10px 0 0 0;
    }

    .menu__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        top: 9px;
        width: 100%;
        height: 3px;
    }
    .menu__burger:before,
    .menu__burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
    }
    .menu__burger:before {
        top:0;
    }
    .menu__burger::after {
        bottom: 0;
    }

    .house__content {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        padding-top: 10px;
    }

    .Kiev-content {
        padding-top: 10px;
    }
    
    .partner__content {
        padding-top: 10px;
    }

    .discount {
        padding-top: 10px;
    }

    .Kiev__title {
        padding-top: 0;
    }
    .house__content button {
        width: 100%;
        opacity: 1;
    }
    .Kiev-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .discount__content {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        font-size: 0.7em;
    }
    .discount__content img {
        width: 100%;
    }
    .Kiev-content p {
        margin: 5px 0 0 0;
    }
    .main-page button {
        height: 100px;
        width: 100%;
        font-size: 40px;
    }
    .modal {
        width: 100%;
        height: 500px;
        
    }
    .Kiev {
        margin: 0;
    }
    .modal_w button {
        width: 100px;
        font-size: 25px;
        height: 120px;
        margin: 0;
        opacity: 1;
    }
    .header-modal {
        width: 100%;
        margin: 0;
    }
    .header-modal div h1{
        margin: 0;
    }
    .header-modal p{
        margin: 0;
    }
    .header-modal div img {
        margin-left: 120px;
    }
}



.main-page button:hover {
    opacity: 1;
    transform: scale(1.02);
}

.main-page__menu {
    background-image: url(../img/dordoi/slider/DSC06132\ \(1\).JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.main-page__houses {
    background-image: url(../img/dordoi/dordoi_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-page__discount {
    background-image: url(../img/cosmo/slider/Copy\ of\ IMG_2432.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-page__about {
    background-image: url(../img/kiev/slider/Copy\ of\ DSC_5427.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.main-page__partner {
    background-image: url(../img/_DSC5391\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.toggle-menu {
    color: #fff;
    font-size: 16px;
    background-color: black;
}

.menu__burger_1 {
    display: none;
   
}

.menu__burger_1 li {
    margin-bottom: 2px;
}

.menu__burger_1 .btn {
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 0;
    margin: 0;
}


